body {
    margin: 0;
    padding: 0;
   
    background-color: #faf6ff;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf6ff;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf6ff;
    border-radius: 20px; 
    padding: 40px;
    width: 70%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.login-illustration img {
    width: 450px;
}

.login-form {
    width: 40%;
    color: aliceblue;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: #4a0dbf;
}

.login-label {
    display: block;
    margin-top: 15px;
    font-size: 22px;
    color: #6a00ff;
}

.login-input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 5px;
     padding: 4%;
}

.remember-row {
    display: flex;
    margin-top: 10px;
}

.remember-row label {
    margin-left: 5px;
    color: #6a00ff;
}

.submit-btn {
    color: white;
     width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    #5a00c7 0%,
    #6a00ff 40%,
    #a000ff 100%)
}

.submit-btn:hover {
   box-shadow: 0 18px 32px rgba(106, 0, 255, 0.38);
  transform: translateY(-1px);
}

.signup-text {
    text-align: center;
    margin-top: 10px;
    color: black;
}

.signup-text a {
    color: #6a00ff;
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    display: block;
}