body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #faf6ff; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px;
    height: 90vh;
    box-sizing: border-box;
}

.question-part {
    flex: 1;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-right: 20px;
    /* width: 60%; */
}
.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.question {
    font-size: 1.3rem;
    color: #4a0dbf;
    margin-bottom: 20px;
}

.answers ul {
    list-style: none; 
    padding: 0;
}

.answers li {
    background-color: #faf6ff;
    border: 1px solid #c7b3f5;
    border-radius: 10px;
    padding: 12px 15px;
    margin-bottom: 10px;
    transition: 0.2s;
    cursor: pointer;
    color: #2a2146;
}

.answers li:hover {
    background-color: #faf6ff;
}
.answers li.selected {
  background-color: #e3d8ff;
  border-color: #4a0dbf;
  font-weight: bold;
}



.flag-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: #4a0dbf;
    transition: color 0.2s ease, transform 0.2s ease;
}
.flag-btn i {
    color: #4a0dbf; /* اللون الافتراضي */
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
}

.flag-btn i.flagged {
    color: #7b5edb; /* اللون لما يكون flagged */
}


.flag-btn i:hover {
    transform: scale(1.1);
}


.navigation {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
    position: relative;
}

.nav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav-btn i {
    font-size: 2rem;
    color: #4a0dbf;
    transition: 0.3s;
}

.nav-btn:hover i {
    color: #4a2db9;
    transform: scale(1.1);
}

.submit-container {
    display: flex;
    justify-content: flex-end; 
}

#submitBtn {
    color: #fff;
    background-color: #4a2db9;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: none;
    position: absolute;
    right: 1px;   
}

#submitBtn:hover {
    background-color: #3b22a3;
    transform: scale(1.05);
}


.mark-part {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.mark-title {
    font-size: 1.1rem;
    color: #4a0dbf;
    margin-bottom: 15px;
}

.marked-question ul {
    list-style: none;
    padding: 0;
}


.marked-question li {
    background-color: #f4edff;
    border-radius: 10px;
    padding: 10px 12px;
    margin-bottom: 8px;
    border: 2px solid #c7b3f5;
    cursor: pointer;
    transition: 0.3s ease, box-shadow 0.3s ease;
    color: #2a2146;
}

.marked-question li:hover {
    background-color: #e3d8ff;
    border-color: #4a0dbf;
    box-shadow: 0 0 15px rgba(123, 94, 219, 0.5);
    transform: scale(1.03);
}

#timer {
    /* position: absolute; */
    top: 30px;
    right: 60px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 15px 25px;
    text-align: center;
    color: #4a0dbf;
    font-size: 1.5rem;
    font-weight: bold;
}