/* Reset / base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
   background-color: #faf6ff; 
  display: flex;
  align-items: center;
  justify-content: center;
    padding: 2%;
  color: #2a2146;

}

.page-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
  

}
.card{
    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 0 20px 20px 0 ;
    box-shadow: 0 24px 40px -8px rgba(57, 18, 98, 0.12);
    border: 1px solid rgba(153, 51, 255, 0.08);
    padding: 5%;
    height: 90vh;

}

.card-title {
color: #4a0dbf; 
 margin-bottom: 10%;
}

.image-block{
    background-image: url('assetes/signup.jpg');
    background-size: cover;
    background-position: center center;
    width: 55%;
    height: 90vh;
     border-radius: 20px 0 0 20px  ;
}

 
.form-group {
  margin-bottom:3%;
  display: flex;
  flex-direction: column;
}
.form-label {
  color: #4a0dbf;
  margin-bottom: 3%;
  display: flex;
  font-size: 22px;
}
.form-input {
  font-size: 16px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e5defa;
  border-radius: 15px;
    padding: 4%;
  color: #2a2146;
  box-shadow: 0 4px 10px rgba(80, 0, 150, 0.04);
  
}
.error-msg {
  font-size: 16px;
  margin-top: 10px;
  color: #e53935;  
  display: none;
  
}

 .form-input {
  
  
}

.btn-primary {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    #5a00c7 0%,
    #6a00ff 40%,
    #a000ff 100%
  );
  color: #ffffff;
  box-shadow: 0 14px 28px rgba(106, 0, 255, 0.28);
  transition: all 0.15s ease;
  margin-top: 0.5rem;
}

.btn-primary:hover {
  box-shadow: 0 18px 32px rgba(106, 0, 255, 0.38);
  transform: translateY(-1px);
}
.login-text {
  text-align: left;
  font-size: 0.9rem;
  color: #2a2146;
  margin-top: 3%;
  font-size: 22px;
}
.login-link {
  color: #6a00ff;
  font-weight: 500;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.display{
  display: block;
}